//global setting
$fontSize: 23.4375px; //default html font-size. screen width is 750
$bodySize: 26px;
//head setting
$headBackgroundColor: #e2231a;
$headHeight: 110px;
$headColor: #fff; //head color
$backArrowFontSize: 40px;  //arrow icon font-size


//foot setting
$footBackgroundColor: #fff;
$footHeight: 110px;
$footColor: #000;



//gloal methods
@function  pxToRem($px) {
  @return $px / $fontSize * 0.5rem;
}
